<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile (个人简介)</h2>
<div class="summary">
    <p>
Many years of research and development experience in medical informatics and related software systems;
Leading a R&amp;D team to undertake a number of national or military medical research projects;
Having practical experience in storage systems and big data processing technologies.
Serving as a committee member of Information Storage Technology, CCF TCIST;
    </p>
</div><!--//summary-->
</section><!--//section-->
