<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>
  <!-- Profile -->
  个人简介
</h2>
<div class="summary">
    <p>
  <!--
    A quick learner about new technologies and research topics, and an ambitious, self motivated individual who has the necessary skills and personal attributes required for a system architect.
    <br>
  -->
    本人学习能力强，能够快速上手新技术、掌握新领域，能够严格要求并自我激励，具有较强的系统研发能力与项目管理能力，具备作为系统架构师所需的职业技能以及个人品质。
    </p>
    <p>
  <!--
    Skilled and professional with pratical experience and solid knowledge in storage systems, big data processing and healthcare informatics technologies.
    Leading a R&amp;D team to undertake a number of national or military medical research projects.
    Serving as a committee member of Information Storage Technology, CCF TCIST.
    <br>
  -->
    在存储系统、大数据处理以及医疗健康信息技术等方面具有较强且扎实的专业理论知识，与长期深入的实践经验。
    工作期间主导着一支医疗健康信息化系统研究与实现的研发团队，并成功研发推出面向全军的健康档案管理平台，试点工作获得媒体报道。
    积极跟进信息存储、大数据处理、健康信息化等方向的研究发展与前沿技术。是中国计算机学会信息存储技术专业委员会委员。
    </p>
</div><!--//summary-->
</section><!--//section-->
