<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile (个人简介)</h2>
<div class="summary">
    <p>
    A quick learner about new technologies and research topics, and an ambitious, self motivated individual who has the necessary skills, personal attributes and managerial experience required for a successful career.
    Skilled and professional with pratical experience and solid knowledge in storage systems, big data processing and healthcare informatics technologies.
    Leading a R&amp;D team to undertake a number of national or military medical research projects.
    Serving as a committee member of Information Storage Technology, CCF TCIST.
    </p>
</div><!--//summary-->
</section><!--//section-->
