<div class="education-container container-block">
<h2 class="container-block-title">Education 教育情况</h2>
<div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h4 class="degree">博士，计算机科学与技术</h4>
    <h5 class="meta">National University of Defense Technology</h5>
    <h5 class="meta">国防科学技术大学</h5>
    <div class="time">2010 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Visiting Scholar</h4>
    <h4 class="degree">访问学者，联合培养</h4>
    <h5 class="meta">Hong Kong University of Science and Technology</h5>
    <h5 class="meta">香港科技大学</h5>
    <div class="time">2010 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h4 class="degree">硕士，计算机科学与技术</h4>
    <h5 class="meta">National University of Defense Technology</h5>
    <h5 class="meta">国防科学技术大学</h5>
    <div class="time">2007 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Computer Science</h4>
    <h4 class="degree">本科，计算接科学与技术</h4>
    <h5 class="meta">Zhejiang University</h5>
    <h5 class="meta">浙江大学</h5>
    <div class="time">2003 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->
