<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>
                  <!-- Experiences -->
                  工作经历
                </h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <!-- Assistant Professor -->
                              助理研究员
                            </h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          <!-- Academy of Military Medical Sciences -->
                          军事医学科学院
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>主要方向包括：电子健康档案；健康数据处理平台；健康数据标准化</p>
<!--                        <p>
                        Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
-->
                        <p>
                        重大项目专题共同负责人，。。。
                        重大项目总题秘书，负责项目申请书、任务书等项目过程性文档、PPT等的撰写及协调，协调各专题负责人，管理项目推进；
                        研发团队负责人，负责电子健康档案项目的研发、培训、试点推广等工作；
                        担任产品经理角色，负责项目需求分析、与乙方公司的协调沟通与项目管理跟进；
                        主力开发人员，负责多项信息系统的研发与实现；
                        医疗信息化方向研究，对健康档案平台中数据标准化方法、数据处理与保存、数据模型抽象等方向有相对深入的研究。
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <!-- Visiting Scholar -->
                              访问学者
                            </h3>
                            <div class="time">2010 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          <!-- Hong Kong University of Science and Technology -->
                          香港科技大学
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>主要方向包括：文件系统；数据同步；时空数据处理</p>
<!--
                        <p>
                        Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        </p>
-->
                        <p>
                        从事面向时空大数据的数据存储、处理研究。
                        在移动云存储，研发了一种面向移动设备的云存储数据访问文件系统
                        研发了一种面向多设备数据同步的数据管理平台。
                        具备快速掌握一个新领域的能力。
                        </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
